/* RESET */
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: #ffffff;
}

/* CLOSE BUTTON */
.close-btn {
    position: fixed;
    top: 15px;
    right: 20px;
    font-size: 24px;
    text-decoration: none;
    color: black;
    z-index: 10;
}

/* TOP BAR */
.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 5;
}

.product-title {
    position: absolute;
    left: 28px;
    font-size: 22px;
}

.details {
    font-size: 60px;
    cursor: pointer;
}

/* DETAILS SECTION */
.details-text {
    max-height: 0;
    overflow: hidden;
    background-color: #ffffff;
    transition: max-height 0.4s ease, padding 0.4s ease;
}

.details-text.show {
    max-height: 500px;
    padding: 20px 0;
}

.details-content {
    display: flex;
    gap: 20px;
    padding: 0 30px;
}

.details-left {
    flex: 1;
}

.details-right {
    flex: 2;
}

/* FEED WRAPPER (CENTERED LIKE PHONE) */
.feed-wrapper {
    display: flex;
    justify-content: center;
}

/* FEED */
.feed {
    width: 100%;
    max-width: 430px; /* telefoonbreedte */
    padding-bottom: 60px;
}

/* FEED IMAGES */
.feed img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
