body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: #ffffff;
    padding-top: 48px;
 }


/* CLOSE BUTTON */
.close-btn {
    position: fixed;
    top: 15px;
    right: 20px;
    font-size: 24px;
    text-decoration: none;
    color: black;
    z-index: 1000;
}

/* TOP BAR */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 10000;
}


.product-title {
    position: absolute;
    left: 28px;
    font-size: 22px;
}

.details {
    font-size: 18px;
    cursor: pointer;
}

/* DETAILS */
.details-text {
    position: fixed;
    top: 48px; /* direct onder de bar */
    left: 0;
    width: 100%;
    height: calc(100vh - 48px);
    background: black;
    color: white;
    z-index: 9999;

    overflow-y: auto;

    transform: translateY(-100%);
    transition: transform 0.4s ease;
}
.details-text.active {
    transform: translateY(0);
}


.details-text.show {
    max-height: 500px;
    padding: 20px 0;
}

.details-content {
    display: flex;
    gap: 20px;
    padding: 0 30px;
}

.details-left {
    flex: 1;
}

.details-right {
    flex: 2;
}

/* FEED */
.feed-wrapper {
    display: flex;
    justify-content: center;
}

.feed {
    width: 100%;
    max-width: 430px; /* telefoonbreedte */
}

/* IMAGES */
.feed img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
