body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background: white;
    color: #0000EE;
    padding-top: 48px;
}

.top-bar {
    background: white;
    color: #0000EE;
}

.details-text {
    background: white;
    color: #0000EE;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 28px;
    text-decoration: none;
    color: #0000EE;
    z-index: 20000;
}

/* TOP BAR */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: white; /* was black */
    color: #0000EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 10000;
    font-family: "Times New Roman", Times, serif;
}

.product-title {
    position: absolute;
    left: 28px;
    font-size: 22px;
}

.details {
    font-size: 18px;
    cursor: pointer;
    color: #0000EE;
}

/* DETAILS */
.details-text {
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    height: calc(100vh - 48px);
    background: white; /* was black */
    color: #0000EE;
    z-index: 9999;

    overflow-y: auto;

    transform: translateY(-100%);
    transition: transform 0.4s ease;
    font-family: "Times New Roman", Times, serif;
}

.details-text.active {
    transform: translateY(0);
}

.details-text.show {
    max-height: 500px;
    padding: 20px 0;
}

.details-content {
    display: flex;
    gap: 20px;
    padding: 0 30px;
}

.details-left {
    flex: 1;
}

.details-right {
    flex: 2;
}

/* FEED */
.feed-wrapper {
    display: flex;
    justify-content: center;
}

.feed {
    width: 100%;
    max-width: 430px;
}

/* IMAGES */
.feed img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}